.element__like-button{
    background-image: url(../../../images/element__like.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    background-color: white;
    background-size: contain;
    border: none;
    align-self: center;
}