.profile__button-add{
    background-image: url(../../../../images/profile__add-button.svg);
    width: 150px;
    height: 50px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    
    
    
}