.popup__error_span{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: red;
        margin-top: 5px;
        min-height: 30px;
        visibility: hidden;
        width: 358px;
}

.popup__error_span:last-of-type{
    margin-bottom: 0;
}

@media screen and (max-width: 670px){
.popup__error_span {
    width: 238px;
}
}