.profile__info{
    display: grid;
    flex-wrap: wrap;
    padding-left: 30px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 18px;
    grid-template-areas: "profile__name  profile__button-edit"
                    "profile__description  profile__description";

}